*{
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(rgb(223, 170, 214),rgb(104, 12, 29),rgb(26, 196, 102)) no-repeat center center fixed;
  background-size: cover;
}
.box{
  font-size: 25px;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  background-color: rgb(116, 237, 100);
  padding:  2px;
}

#box1{
  width: 100%;
  text-align: center;
  font-size: 30px;
}

h1{
  text-align: center;
  font-size: 30px;
}


.form_elements{
  margin: 30px;
}

.button{
  width: 200px;
  height: 50px;
  border-radius: 50px;
  margin-top: 50px;
  background-color: rgb(5, 238, 238);
  font-size: 20px;
}



#data{
  margin: 40px;
  flex-wrap: wrap;
  display: flex;
  width: 90vw;
  border: 2px solid black;
  box-sizing: content-box;
}

#combinedata{
  margin: 2%;
  padding: 1%;
  box-sizing: content-box;
  min-width: 500px;
  font-size: 20px;
  height: 50px;
  border: 1px solid black;
  background-color: rgb(116, 237, 100);
 
}

